@charset "utf-8";

html { width: 100%; margin: 0; padding: 0;}
body{ background-color: #f3f3f3;width: 100%; margin: 0; padding: 0;}

/*header*/
header{
    position: fixed; top:0;
    width:100%;
    height: 4rem;
    z-index:99;
}
.header{ /*height:72px;*/ padding-top:0.5rem;padding-bottom: 0.5rem; position: relative; background:rgb(255, 255, 255); top:0; left:0; width:100%; z-index:50; display:flex; flex-wrap:wrap ; align-items: center; justify-content: space-between;}
.header .logos{ /*position:absolute; left:70px; top:-4px; z-index:5;*/ margin-left: 2rem; width: 8.75rem;}
.header .logos h1{margin: 0;}
.header .subtitle {
    width:12.5rem;text-align:center;display:inline-block; /*position: absolute;  left: 270px;  margin-top: 20px;*/ font-size:21px; color:rgb(107, 107, 107); 
}

.header .loginbtn{  /*position:absolute; right:20px; top:50%; margin-top:-18px;*/ z-index:5; }
.header .loginbtn .abtn{ display:inline-block; vertical-align:middle; text-align:center; line-height:36px; height:36px; width: 100px; padding:0 15px; margin-right: 20px; text-decoration:none; color:#fff; font-size:15px; border-radius:50px; background:#005392; }
.header .loginbtn .bbtn{ display:inline-block; vertical-align:middle; text-align:center; line-height:36px; height:36px; width: 100px; padding:0 15px; margin-right: 20px; text-decoration:none; color:#fff; font-size:15px; border-radius:50px; background:rgb(231, 77, 85); }
.header .loginbtn .cbtn{ display:inline-block; vertical-align:middle; text-align:center; line-height:36px; height:36px; width: 100px; padding:0 15px; margin-right: 20px; text-decoration:none; color:#fff; font-size:15px; border-radius:50px; background:#005392 }

/*menu*/
.header .menus{ text-align:center; font-size:0; /*position:absolute; right: 20px;*/ flex-shrink:0; }
.header .menus .grids{ display:inline-block; vertical-align:middle;  text-decoration:none; cursor: pointer; }
.header .menus .grids .gtitle{display:block; font-size:18px; color:rgb(88, 88, 88); text-decoration:none; position:relative; padding: 1rem 0.5rem 1rem 0.5rem; transition:.2s;}
/*Hover*/
.header .menus .grids:hover .gtitle:before{ content:""; display:block; background:#5597d1; height:3px; position:absolute; top:0; left:15px; right:15px; margin:auto; opacity:1; transition:.2s; -webkit-transition:.2s; -moz-transition:.2s;}

/*firstblock*/
.firstblock{ padding-top:2rem;height:450px; width: 100%; margin: 0px; padding: 0 px; background-image: linear-gradient(to right, #75C7FB, #FFFFFF); z-index:7; display: flex; justify-content: center;align-items: center;}
.firstblock .firstblock-title {width:32rem;position: relative;color:#fff; font-family:Georgia, 'Times New Roman', Times, serif; }
.firstblock .firstblock-title .t1 {width: 100%; font-size: 5.625rem; }
.firstblock .firstblock-title .t2 { width: 100%;margin-top: 10px; font-size: 2.188rem;}
#firstblock-icon { position: absolute;     width: 36%;top: -74px;right: 58px; }

/*introbox*/
.intro{ width:75%;margin-left: 12.5%;margin-right: 12.5%;display: flex; justify-content: center; align-items: center;}
.intro-container{ margin-top: -4%; width: 100%; display: grid; grid-auto-columns: calc((72% / 3)); grid-auto-rows: 100%; grid-auto-flow: column; justify-content: space-around; align-content: center;}
.intro-box {width:100%; height: 100%; display:flex; justify-content: center; align-items: center;  flex-direction:column; text-align:center;flex-wrap: nowrap; background-color: #ffffff; border: #005392 1px solid;  padding-top: 1rem;padding-bottom: 1rem;}
.intro-box .box-title { width:100%;color: #004AAD; font-size: 40px; padding-top: 20px; display: inline-block;}
.intro-box .box-content{ display:inline-block; width: 70%; color: #004AAD; font-size: 21px; padding-top: 15px;}

/* login-and-register */
#login-and-register{
    position:absolute;
    margin-top: 500px;
    display:table;
    vertical-align:middle;
}

#login-and-register a h3{
    font-size: 2rem;
 color: #ffffff;
}


.hyperlink-btn {
    text-decoration:none;
}
.intro-box:hover
{
    
}