.Navigationbox{
    display: none;
    background-image: url("108px-Hamburger_icon.svg.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 2rem;
}
#Navigationbox_checkbox{
    display: none;
}
#Navigationbox_checkbox:checked + header .header .menus
{
    display: block;
}
#Navigationbox_checkbox:checked ~ .main-content
{
    opacity:0.5;
}
@media screen and (max-width:992px)
{   
    .header{
        padding-bottom: 0;
    }
    #Navigationbox_checkbox:checked + .header
    {
        padding-bottom: 0px;
    }
    .Navigationbox{
        display: block;
    }
    .header .menus 
    {
        width: 100%;
        display: none;
        text-align: left;
    }
    .header .menus .grids
    {
        width: 100%;
        background-color: black;
    }
    .header .menus .grids:nth-child(odd)
    {
        width: 100%;
        background-color: #E3F2FD;
    }
    .header .menus .grids:hover 
    {
        background-color: #75C7FB;
        transform: 1s;
    }
    .header .menus .grids:hover a
    {
        color:white;
    }   
    .box-title
    {
        font-size: 30px;
    }
    .box-content
    {
        font-size: 18px;
    }
    .intro
    {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media screen and (min-width:992px)
{
    .header .subtitle {
    translate: 50%;
    }
    .header .menus 
    {
        margin-right: 1rem;
    }
    .intro-container
    {
        grid-auto-columns: calc((60% / 3));
    }
}